:root {
  --lt-blu: lightblue;
}
header {
  padding: 3%;
  text-align: center;
  background-color: var(--lt-blu);
}
main {
  display: flex;
  justify-content: space-around;
}
legend {
  background-color: var(--lt-blu);
  padding-left: 1%;
}

aside {
  margin-top: 2%;
  border: 1px solid lightgrey;
  border-radius: 2%;
}
p {
  padding: 2%;
}
.custom-btn {
  width: 90%;
  text-align: left;
  border: 1px solid;
}
#instructions {
  width: 33%;
}
